PORT=3000
AI_ENGINE_URL=http://localhost:5001
CLIENT_ORIGINS=http://localhost:5173

# Option 2: or use individual PostgreSQL variables
PGHOST=localhost
PGPORT=5432
PGDATABASE=
PGUSER=
PGPASSWORD=

# Set to require if you connect to a hosted PostgreSQL that needs SSL
PGSSLMODE=disable
